<!DOCTYPE html>
<html>
<head>
  <title>Carritos de Compras</title>
</head>
<body>
  <h1>Carritos de Compras</h1>

  <form action="/cart" method="GET" class="filter-form">
  </form>
  
  {{#if cartIds}}
    <h2>IDs de Carritos:</h2>
    <ul>
      {{#each cartIds}}
        <li>Carrito ID: {{this}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay carritos disponibles.</p>
  {{/if}}

  <a href="/checkout">Pagar</a>
</body>
</html>