<!-- chat.handlebars -->

<div id="chat-messages">
  {{#each messages}}
    <p><strong>{{this.user}}:</strong> {{this.message}}</p>
  {{/each}}
</div>

<form id="chat-form">
  <input type="text" id="userEmail" placeholder="Your email">
  <input type="text" id="messageInput" placeholder="Type a message...">
  <button type="submit" id="sendButton">Send</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  const chatForm = document.getElementById('chat-form');
  const messageInput = document.getElementById('messageInput');
  const chatMessages = document.getElementById('chat-messages');

  chatForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const user = document.getElementById('userEmail').value;
    const messageContent = messageInput.value;
    socket.emit('sendMessage', { user, messageContent });
    messageInput.value = '';
  });

  socket.on('newMessage', (message) => {
    const messageElement = document.createElement('p');
    messageElement.innerHTML = `<strong>${message.user}:</strong> ${message.message}`;
    chatMessages.appendChild(messageElement);
  });
</script>